@import url(req.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 25px;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

nav, main, footer {
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}

header{
    height: 12vh;
    background-color: rgba(24, 162, 236, 0.907);
    color: rgb(255, 255, 255);
    padding: 10px;
}

.LogOutButton{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
    transition: 0.5s;
}

.LogOutButton:hover{
    transform: scale(1.1);
}
.logo{
    padding: 5px;
}
.icon{
    margin-left: 15px;
    display: flex;
}
.icon img{
    margin-left: 15px;
}
header ul{
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    list-style: none;
}

.greet{
    text-align: center;
    flex-grow: 1;
    margin-bottom: 10px;
    text-decoration: underline;
}

.bookingList{
    display: flex;
    flex-direction: column;
     align-items: center;
    list-style: none;
    width: 30vw;
    margin: auto;
    
}

.bookingEntry{
    display: flex;
    width: 25vw;
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 6px 0;
}

.balance{
    margin: auto;
}

.typeDec{
    border: none;
}

.typeDec .EntryNode{
    text-decoration: underline;
}

.EntryNode{
    width: 100px;
    margin: auto;
}

.bookingPrice{
    order: -1;
}

.bookingButton{
    border: none;
    height: 5vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
}

.bookingButton button{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    color: white;
    
    border: none;
}

.incomeButton{
    background-color: green;
    transition: 0.5s;
}

.incomeButton:hover{
    transform: scale(1.14);
}

.expenseButton{
    background-color: red;
    transition: 0.5s;
}

.expenseButton:hover{
    transform: scale(1.14);
}

footer {
    background-color: rgba(24, 162, 236, 0.907);
    color: white;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
